@import url('mixin.scss');

.list-img {
  dl {
    overflow:hidden;
    border-bottom:1px solid #ddd;
    &:after {
      content: ' ';
      height:0;
      outline:0;
      clear:both;
      zoom:1;
    }
    dt {

      a {
        img {}
      }
    }
    dd {
      color:#666;
      padding:px2rem(10px) 0;
      display:flex;
      b {
        font-size:px2rem(16px);
        img {width:px2rem(30px);height:px2rem(30px)}
      }
      p {
        padding-left:px2rem(10px);
        font-size:px2rem(14px);
      }
    }
  }
}